# Ignore Play! working directory #
target/
.idea
*.iws
*.ipr
src/main/scala-*
project/*
.metadata/
!project/build.properties
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
*.iml
.idea/
/dist/
.cache
