# Ignore Play! working directory #
target/
.idea
*.iws
*.ipr
src/main/scala-*
project/*
.metadata/
!project/build.properties
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
graphdb/
src/main/resources/
src/main/scala/com/imaginea/activegrid/core/models/AccountInfo.scala
src/main/scala/com/imaginea/activegrid/core/models/Filter.scala
src/main/scala/com/imaginea/activegrid/core/models/FilterType.scala
src/main/scala/com/imaginea/activegrid/core/models/InstanceProvider.scala
src/main/scala/com/imaginea/activegrid/core/models/PlugIn.scala
src/main/scala/com/imaginea/activegrid/core/models/PlugInMap.scala
src/main/scala/com/imaginea/activegrid/core/models/SiteFilter.scala
src/main/scala/com/imaginea/activegrid/core/services/
src/main/scala/com/activegrid/services/
src/main/webapp/
temporary/

